<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<title>Nelisa's Weekly Sales</title>
<link rel="shortcut icon" href="https://raw.githubusercontent.com/radlee/Nelisa/80cd8da7f3de73d16d5bf8a99e2c2ffad05da188/img/NS.jpg" />

<link rel="stylesheet" type="text/css" href="styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="/home/lee/projects/Nelisa/bootstrap/dist/css/bootstrap-theme.min.css"> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
#container{
  padding: 10px;
}
#info{
  background-color: #02cab6;
}

h2 {
  color : gray;
  foont-size: .8em;
  background-color: lightblue;
}

#heading{
  text-align: center;
  font-family: sans-serif;
}
#heading2{
  font-family: sans-serif;
  background-color: green;
  color: white;
  padding: 5px;
  text-align: center;
}
.para {
  font-family: sans-serif;
}
#csricodexmlab{
  background-color: #52043A;
  color: white;
}

table {
    border-collapse: collapse;
    background-color: #F2F2F2 !important;
    font-family: sans-serif;
    text-align: left;
    padding: 10px;
    color: white;
}
.info{
  background-color: #044052 !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #520434;
  color: white;
}
td{
  color: black;
}

</style>

</head>
<body>

<div id="container">
  <!-- class="navbar navbar-inverse [ navbar-fixed-top ]" -->
<div id="navDiv">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Nelisa</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Manage Account</a></li>
        <li><a href="#">Shop Online</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>
<div id="csricodexmlab" class="container-fluid bg-3 text-center jumbotron">
  <h1 class="margin">Weekly Sales Statistics</h1>
  <br>
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>



  <div id = "output">
    <!-- <h1 id="heading2">Week 1 Sales Statistics</h1> -->
    <div>
      <table style="width:100%" class="table table-hover">
        <tr>
          {{#key}}<th class="info">{{Description}}</th>
          <td class="para"><strong><span style="color:#00adc8">{{Item}} {{Category}}</span></strong></td>
          {{#if Profit}}
          <th class="info"><span style="color:#059407">Profit</span></th>
          {{else}}
          <th class="info">Quantity</th>
          {{/if}}
          <td class="para">{{Quantity}} {{Profit}}</td>
        </tr>{{/key}}
      </table>
    </div>
</div>
</div>

<script src="server.js"></script>
<script src="handlebars.js"></script>
<!-- <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script> -->
<!-- <script type="text/javascript" src="js/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script> -->

</body>
</html>
